<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/css/style.css">
    <button onclick = 'window.location.href="/"'> Come Back Home </button>
</head>
<body>
     <div class=”Cart-Container”></div>
     <div class=”Header”>
  <h3 id="omg">Shopping Cart</h3>
  </div> 
  <div class="card">
  <img src="static/cake.jpeg" width = "300" >
  <h1>cake</h1>
  <p class="price">$19.99</p>
  <p>Some text</p>
  <p><button>remove from Cart</button></p>
  <div class="card">
  <img src="static/lll.jpeg" width = "300" >
  <h1>strawberries with chocolate</h1>
  <p class="price">$29.99</p>
  <p>Some text</p>
  <p><button>remove from cart</button></p>

</body>
</html>