<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMG HOME PAGE!!!!!!!</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/css/cart.css">
</head>
<body>
    <h1 id="title"> ROTEM'S STORE </h1>
    <h2 id="q"> how are you sweethearts? </h2>

    <button onclick = 'window.location.href="/product"'>i wanna see more</button>
    <button onclick = 'window.location.href="/cart"'> go to my cart please :) </button>
    <br>
    <div class="gallery">
    <img src="static/lll.jpeg" width=600px height=400px>
    <div class="desc">a wondderful and romantic snack</div>
    </div>

    <div class="gallery">
    <img src="static/waffels.jpg" width=600px height=400px>
    <div class="desc">amazing waffels</div>
    </div>

    <div class="gallery">
    <img src="static/ice.jpeg" width=600px height=400px>
    <div class="desc">cold ice cream</div>
    </div>

    <div class="gallery">
    <img src="static/cake.jpeg" width=600px height=400px>
    <div class="desc">more than just a cake</div>
    </div> 
        <div class="gallery">
    <img src="static/pizza.jpeg" width=600px height=400px>
    <div class="desc">not what you thought</div>
    </div>

    <div class="gallery">
    <img src="static/pancakes.jpeg" width=600px height=400px>
    <div class="desc">sweettttt/div>
</body>
</html>