<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "../static/css/style.css">
    <meta charset="UTF-8">
    <title>Products</title>

    <button onclick = 'window.location.href="/cart"'> go to my cart please :) </button>
    <button onclick = 'window.location.href="/"'> Come Back Home :) </button><br>
</head>
<body>
  <div class="card">
  <img src="static/pizza.jpeg" width = "300" >
  <h1>sweet pizza</h1>
  <p class="price">$22.99</p>
  <p>Some text</p>
  <p><button>Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="static/waffels.jpg" width = "300" >
  <h1>waffles</h1>
  <p class="price">$14.99</p>
  <p>Some text</p>
  <p><button >Add to Cart</button></p>
  </div> 
  <div class="card">
  <img src="static/pancakes.jpeg" width = "300" >
  <h1>pancakes</h1>
  <p class="price">$19.99</p>
  <p>Some text</p>
  <p><button>Add to Cart</button></p>

</body>
</html>